@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    ViewBag.Title = "All Roles";
}

<h1> ALL Roles</h1>
@* The code below helps to list out the Roles in the DB *@

@if (Model.Any())
{
    <a class="btn btn-primary mb-1" style="width:auto"
       asp-controller="Administration" asp-action="CreateRole"> Add new Role</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                RoleId: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                @* The line of code below perfroms Calims Authorization on the Edit button and delete *@

                @*@if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                {*@
                    <a class="btn btn-primary m-1" asp-controller="Administration" asp-action="EditRole"
                       asp-route-id="@role.Id">Edit</a>
                    @*//}*@

                <span id="confirmDeleteSpan_@role.Id" style="display:none">
                    <span>Are you sure you want to delete?</span>
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a href="#" class="btn btn-primary"
                       onclick="confirmDelete('@role.Id', false)">No</a>
                </span>
                @if ((await authorizationService.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
                {
                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>
                }

            </form>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5>
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Administration" asp-action="CreateRole"> CreateRole</a>
        </div>

    </div>
}

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}